@page
@model Lab4.Pages.Movies.CreateModel

@{
    ViewData["Title"] = ConfigStrings.Add;
}

<h1>@ConfigStrings.Add</h1>

<h4>@ConfigStrings.MovieModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MovieModel.Title" class="control-label"></label>
                <input asp-for="MovieModel.Title" class="form-control" />
                <span asp-validation-for="MovieModel.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieModel.ReleaseDate" class="control-label"></label>
                <input asp-for="MovieModel.ReleaseDate" class="form-control" />
                <span asp-validation-for="MovieModel.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieModel.Genre" class="control-label"></label>
                <input asp-for="MovieModel.Genre" class="form-control" />
                <span asp-validation-for="MovieModel.Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieModel.Duration" class="control-label"></label>
                <input asp-for="MovieModel.Duration" class="form-control" />
                <span asp-validation-for="MovieModel.Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieModel.Price" class="control-label"></label>
                <input asp-for="MovieModel.Price" class="form-control" />
                <span asp-validation-for="MovieModel.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@ConfigStrings.Add" class="btn btn-primary" /> | 
                <a asp-page="Index" class="btn border-top box-shadow my-btn">@ConfigStrings.Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
